# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output & Frontend
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular & Frontend Tooling
.angular/
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
testem.log
typings/
__screenshots__/

# .NET / C# Build output
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][In]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
[Ll]ogs/
[Tt]est[Rr]esults/
[Cc]lass[Ll]ibrary*/
publish/

# .NET / Visual Studio / Rider user files & caches
*.user
*.userosv
*.suo
*.userprefs
*.sln.docstates
*.DotSettings.user
.vs/
.rider/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

# System files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
